{% extends 'base.html.twig' %}

{% block title %}
    Lista klientów
{% endblock %}

{% block body %}
    
    
    
    <a href="/add_client" class="btn btn-success" role="button">Dodaj</a>
    <a href="/print_client_list" class="btn btn-default" role="button">Wykaz Klientów</a>
    <table class="table table-bordered">
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id clienta', 'c.client_id') }}</th>
            <th{% if pagination.isSorted('c.Nazwisko') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nazwisko', 'c.surname') }}</th>
            <th{% if pagination.isSorted('c.Imię') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Imię', 'c.name') }}</th>
            <th{% if pagination.isSorted('c.Pesel') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Pesel', 'c.pesel') }}</th>
            <th>Akcja</th>
        </tr>

        {# table body #}
        {% for client_list in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ client_list.client_id }}</td>
                <td>{{ client_list.surname }}</td>
                <td>{{ client_list.name }}</td>
                <td>{{ client_list.pesel }}</td>
                <td> <a href="/edit_client/{{ client_list.client_id }}" class="btn btn-warning" role="button">Edytuj</a>
                    <a href="/delete_client/{{ client_list.client_id }}" class="btn btn-danger" role="button">Usuń</a>
                    <a href="/print_client/{{ client_list.client_id }}" class="btn btn-default" role="button">Drukuj</a></td>
            </tr>
        {% endfor %}
    </table>

 {{ knp_pagination_render(pagination) }}
 
{% endblock %}