<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-2" />
        <title>{% block title %}Homepage!{% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script>
                $(document).ready(function () {
                    $('#link').click(function () {
                        alert('asdasd');
                        jQuery.ajax({
                            url: "/proposal_list",
                            method: 'GET',
                            async: true,
                            dataType: 'json'
                        }).done(function (data) {
                            console.log(data);
                            if (data.status == 1) {
                                alert("status poprawny " + data.info);
                            } else {
                                alert(data.info);
                            }
                        }).fail(function () {
                            alert('Błąd systemu. Nie dodano produktu');
                        });
                        alert('poszlo');
                    })
                });
            </script>

        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Akedemia</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Listy <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/proposal_list">Wnioski</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/client_list">Klienci</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Hello <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/hello">Hello World</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/byebye">Bye Bye World</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kalkulator<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/calc/info">calc v1</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/calc">calc v2</a></li>

                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#link">Link</a></li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}  <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                            {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    {% block body %}{% endblock %}

</body>




</html>
