{% extends 'calcBase.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


    </br>
    <h2>Historia Kalkulatora z pliku</h2>
    {% if history|length > 0 %}
        <ul>
            {% for h in history %}
               
                  <li> Dodano - {{ h.date.format('Y-m-d H:i:s')}} - <b>{{ h }}</b></li>
            {% endfor %}
        </ul>
    {% else %}
        Brak historii
    {% endif %}
    
    </br></br>

    <h2>Historia Kalkulatora z bazy danych</h2>
    {% if historyDB|length > 0 %}
        <ul>
            {% for h in historyDB %}
                <li> Dodano - {{ h.date.format('Y-m-d H:i:s') }} - <b>{{ h }}</b></li>
            {% endfor %}
        </ul>
    {% else %}
        Brak historii
    {% endif %}
    
    </br>

{% endblock %}

